header{
	margin:auto;
}

.nav-btn-start{
	background-color: #e0efd4;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.nav-btn-start:hover{
	transition: background-color 0.3s ease;
	background-color: black;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: white;
}
.nav-btn-next{
	background-color: #e0efd4;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}


.nav-btn-next:hover{
	transition: background-color 0.3s ease;
	background-color: black;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: white;
}

a:hover{
	text-decoration: none;
}
.active{
	background-color: #fffff2;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: black;
}

